@font-face {
  font-family: "Raleway";
  src: local("font/static/Raleway-Regular.ttf");
}
/* General */
html,
body {
  font-family: Raleway;
}

header {
  font-family: "Raleway", "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sizePage {
  margin-left: 60px;
  margin-right: 60px;
}

.backBleu {
  background-color: blue;
}

.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexColumnCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* navigation */
.desktopNone {
  display: none;
}
.sizeNav {
  height: 100px;
}

.sizeLinks {
  width: 100%;
}

.sizeLink12 {
  margin-left: 60%;
}

.sizeLink {
  width: 140px;
  height: 99px;
}

.colorLink1 {
  color: blue;
}

.colorLink2 {
  color: black;
}

.decorationNone {
  text-decoration: none;
}

.bordureNone {
  border: none;
}

.bordureNav {
  border-top: 1px solid transparent;
}

.bordureNav:hover {
  border-top: 1px solid #0065fc;
  cursor: pointer;
}

.bordureNav:hover > a {
  color: #0065fc;
}

.margLogo {
  margin-bottom: 7px;
}

.texteGras {
  font-weight: bold;
}

/*header*/

.bordureSearch {
  width: 430px;
  border-radius: 10px;
  border: 1px solid #f2f2f2;
}

.paddingSearch {
  padding-left: 20px;
}

.recherche {
  height: 50px;
  width: 230px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.iconSize {
  height: 50px;
  width: 50px;
  border-radius: 10px 0 0 10px;
}

.buttonSearch {
  height: 50px;
  width: 150px;
  color: white;
  background-color: #0065fc;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}

.buttonSearch:hover {
  color: #0065fc;
  background-color: #f2f2f2;
}

.backGrey {
  background-color: #f2f2f2;
}

.colorBleu {
  color: #0065fc;
}

.colorBleuClair {
  color: #deebff;
}

.colorGris {
  color: rgb(241, 240, 240);
}

/*Filters*/

.margFiltre {
  margin-top: 30px;
  margin-bottom: 15px;
}

.filtre {
  display: flex;
  align-items: center;
}

.margFiltreTitre {
  margin-right: 20px;
}

.filtreTexteIcons {
  border: 3px solid #f2f2f2;
  height: 50px;
  margin-right: 20px;
  border-radius: 30px;
}

.filtreTexteIcons:hover > .filtreTexte {
  color: #0065fc;
}

.filtreTexteIcons:hover > .filtreIcons {
  color: white;
  background-color: #0065fc;
}

.filtreTexte {
  height: 50px;
  padding-left: 10px;
  padding-right: 20px;
  border-radius: 0 25px 25px 0;
}

.filtreIcons {
  width: 52px;
  height: 52px;
  margin-left: -2px;
  border-radius: 25px;
  color: #0065fc;
  background-color: #deebff;
}

/*Info icone*/

.info {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.parentIcon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
}

/* Hébergements */

.sizeHebergements {
  flex: 2;
  height: 720px;
  margin-right: 40px;
  border-radius: 10px;
}

.imgHebergements1 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
  padding-bottom: 1px;
}

.imgHebergements2 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements3 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements4 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements5 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.imgHebergements6 {
  object-fit: cover;
  width: 100%;
  height: 120px;
  border-radius: 15px 15px 0 0;
}

.blocHebergements {
  padding-left: 40px;
  padding-right: 40px;
}

.cubeHebergements {
  width: 30%;
  height: auto;
  padding: 0.7%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px 1px #e7e6e6;
  font-size: large;
}

.cubeHebergements:hover {
  cursor: pointer;
  transform: scale(1.08);
}

.bloc1 {
  margin-bottom: 10px;
}

.bloc2 {
  margin-top: 10px;
}

.cubeDetailsHebergements {
  width: 95%;
}

/* Populaires*/

.sizePopulaires {
  flex: 0.9;
  height: 700px;
  margin-right: 20px;
  border-radius: 10px;
}

.blocPopulaires {
  padding-top: 20px;
  padding-left: 2.5%;
  padding-right: 3%;
}
.blocPopulaires12 {
  margin-bottom: 20px;
}

.cubePopulaires {
  height: auto;
  width: 100%;
  align-items: flex-start;
  padding: 1.5% 0 1.5% 1.5%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px 1px #e7e6e6;
}
.cubePopulaires:hover {
  cursor: pointer;
  transform: scale(1.08);
}
.cubeDetailsPopulaires {
  width: 60%;
  padding-left: 5%;
}
.titrePopulaire {
  margin-top: 10px;
  margin-bottom: 40px;
}
.iconPopulaire {
  margin-right: 20px;
  margin-bottom: 40px;
}

.imgPopulaires1 {
  background-image: url(./images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

.imgPopulaires2 {
  background-image: url(./images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

.imgPopulaires3 {
  background-image: url(./images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 35%;
  height: 160px;
  border-radius: 15px 0 0 15px;
}

/* Activités */

.Activites {
  margin-top: 50px;
  margin-bottom: 40px;
}
.blocActivites {
  width: 100%;
  height: 600px;
}

.blocActivites2356 {
  width: 23%;
  height: 600px;
}

/* Blocs settings*/

.cubeActivites {
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.cubeActivites:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.cubeActivite2356 {
  width: 100%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}

.cubeActivite2356:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* Settings */

.espaceSection {
  margin-top: 70px;
  margin-bottom: 25px;
}
.hauteurTitre {
  height: 70px;
}

.titreActivites {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 95%;
  padding-left: 5%;
}

.imgActivites1 {
  background-image: url(./images/activites/1_xlarge/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.imgActivites2 {
  background-image: url(./images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
}

.imgActivites3 {
  background-image: url(./images/activites/4_small/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
}

.imgActivites4 {
  background-image: url(./images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0;
}

.imgActivites5 {
  background-image: url(./images/activites/4_small/florian-wehde-xW9e8gdotxI-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

.imgActivites6 {
  background-image: url(./images/activites/4_small/lena-paulin-wH2-EJoDcV0-unsplash.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0;
}

/* Footer*/

.footer {
  height: 300px;
  margin-top: 100px;
  margin-left: -60px;
  margin-right: -60px;
  margin-bottom: -10px;
}

.blocFooterSize {
  height: 150px;
}

.margeBlocFooter1 {
  margin-left: 3%;
}

.margeBlocFooter3 {
  margin-right: 26%;
}
.divFooterLink {
  height: 30px;
}
.FooterLink {
  color: black;
}

/* Responsive */

@media screen and (max-width: 1300px) {
  .sizePage {
    margin-right: 50px;
  }
  .sizeLink12 {
    margin-left: 35%;
  }
  .cubeDetailsHebergements {
    min-height: 150px;
  }
  .sizeHebergements {
    min-height: auto;
    padding: 20px;
  }
  .sizePopulaires {
    min-height: 720px;
    padding: 20px;
  }
  .tabletteSizeTitrePop {
    margin-top: 0;
  }
}

@media screen and (max-width: 1000px) {
  .sizePopulaires {
    margin-right: 0px;
  }
  .mobileFiltreWrap {
    flex-direction: column;
    align-items: flex-start;
  }
  .filtreTexteIcons {
    margin-bottom: 20px;
  }
  #hebergements {
    flex-direction: column-reverse;
    width: 100%;
  }
  .blocPopulaires {
    flex: none;
    width: 90%;
    margin-left: 0;
    padding: 5%;
  }
  .blocHebergements {
    flex: none;
    width: 90%;
    margin-top: 50px;
    margin-right: 0;
    padding: 5%;
  }
}
@media screen and (max-width: 770px) {
  .sizePage {
    padding-left: 5%;
  }
  .sizeLinks {
    width: 90%;
  }
  .sizeLink12 {
    margin-left: 20%;
  }
  .blocHebergements {
    height: auto;
  }
  .bloc1 {
    flex-direction: column;
    margin-bottom: 0;
  }
  .bloc2 {
    flex-direction: column;
    margin-top: 0;
  }
  .cubeHebergements {
    width: 100%;
    margin-bottom: 50px;
  }
  .cubeDetailsHebergements {
    min-height: auto;
    line-height: 10px;
    margin-bottom: 5px;
  }
  .blocActivites {
    flex-direction: column;
    height: auto;
  }
  .cubeActivites {
    width: 100%;
    margin-bottom: 50px;
  }
  .blocActivites2356 {
    width: 100%;
    height: auto;
  }
  .cubeActivite2356 {
    margin-bottom: 50px;
  }
  .imgActivites1,
  .imgActivites2,
  .imgActivites3,
  .imgActivites4,
  .imgActivites5,
  .imgActivites6 {
    height: 200px;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 55px;
  }
  .margeBlocFooter1 {
    margin-left: 0px;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 613px) {
  .sizeLink {
    flex-direction: row;
  }
  .sizeLink12 {
    order: 1;
    width: 100%;
    margin-left: 0;
  }
  .sizeLinkMobile {
    width: 50%;
    border-top: none;
    border-bottom: 2px solid #f2f2f2;
  }
  .sizeLinkMobile:hover {
    border-top: 0;
    border-bottom: 5px solid #0065fc;
  }
  .sizeLinks {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .mobileTitreh1 {
    font-size: x-large;
  }
  .mobileTitreTrouvez {
    margin-top: 130px;
    margin-bottom: 30px;
  }
  .bordureSearch {
    width: auto;
    border: none;
  }
  .recherche {
    width: 200px;
    border-top: 1px solid #f2f2f2;
    border-bottom: 1px solid #f2f2f2;
  }
  .buttonSearch {
    width: 50px;
    border-radius: 15px;
  }
  .desktopNone {
    display: block;
  }
  .mobileNone {
    display: none;
  }
  .margFiltre {
    padding-left: 3%;
  }
  .mobileEconomiques {
    margin-left: -8px;
    margin-right: 10px;
  }
  .mobileFamilial {
    margin-right: 0px;
  }
  .mobileFiltreWrap {
    margin-left: -8px;
  }
  .sizePage {
    margin-left: 30px;
  }
  .filtreTexte {
    padding-right: 10px;
  }
  .sizePopulaires {
    width: 124%;
    border-radius: 0px;
  }
  .cubePopulaires {
    width: 90%;
    margin-left: 15px;
  }
  .titrePopulaire {
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .iconPopulaire {
    margin-top: auto;
  }
  .sizeHebergements {
    width: 124%;
    border-radius: 0px;
  }
  .titreHebergements {
    margin-left: 20px;
  }
  .cubeHebergements {
    margin-left: 2px;
    width: 90%;
    padding: 1.5%;
    font-size: large;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .cubeDetailsHebergements {
    height: 85px;
    line-height: 2%;
  }
  .blocHebergements {
    margin-top: 0px;
    border-radius: 0;
    background-color: white;
  }
  .afficherPlus {
    margin-left: 20px;
  }
  .espaceSection {
    margin-left: -10px;
    margin-top: 40px;
    margin-bottom: 10px;
  }
  .blocActivites {
    width: 90%;
    padding: 5%;
  }
  .cubeActivites {
    width: 128%;
    height: 210px;
    margin-left: -8px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .cubeActivite2356 {
    width: 128%;
    height: 210px;
    margin-left: -38px;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  .footer {
    margin-top: 30px;
    margin-bottom: -40px;
  }
}
