html,body {
    font-family: Raleway;
}

@font-face {
    font-family: 'Raleway';
    src: local('font/static/Raleway-Regular.ttf');
}
header  {

font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.backBleu {
    background-color: blue;
}
.flexCentre {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flexBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Barre de navigation*/
.sizeNav {
    height: 100px;
}
.sizeLinks {
    width: 45%;
}
.sizeLink {
    width: 140px;
    height: 99px;
}
.colorLink1 {
color: blue;

}
.colorLink2 {
    color: black;
}
.decorationNone {
    text-decoration: none;
}
.bordureNone {
    border: none;
}
.bordureNav {
    border-top: 1px solid blue;
}
.bordureNav23 {
border-top: 1px solid transparent;
}
.margLogo {
    margin-bottom: 7px;
}
.texteGras {
    font-weight: bold;
}
/*header*/
.bordureSearch {
    width: 400px;
    border-radius: 10px;
    border: 01px solid #f2f2f2;
   
}
.paddingSearch {
    padding-left: 20px;
}
.recherche {
    height: 50px;
    width: 230px;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.iconSize {
    height: 50px;
    width: 50px;
    border-radius: 10px 0 0 10px;
}

.buttonSearch {
    height: 50px;
    width: 120px;
    color: white;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}
.backGris {
   background-color: #f2f2f2;
}
.colorBleu {
    color: #0065fc;
}
.colorBleuClair {
    color: #deebff;
}
/*Filtres*/
.margFiltre {
    margin-top: 50px;
    margin-bottom: 40px;
}
.filtre {
    display:flex;
    align-items: center;
}
.margFiltreTitre {
    margin-right: 20px;
}
.filtreTexteIcons {
    border: 2px solid #f2f2f2;
    height: 50px;
    border-radius: 30px;
    margin-right: 20px;
}
.filtreTexteIcons:hover > .filtreTexte {
    color: #0065fc;
}
.filtreTexteIcons:hover > .filtreIcons {
    color: white;
    background-color: #0065fc;
}
.filtreTexte {
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 25px 25px 0;
}
.filtreIcons {
    margin-left: -2px;
    border-radius: 25px;
    width: 52px;
    height: 52px;
    color: #0065fc;
    background-color: #deebff;
}
/*Info icone*/
.info {
    display: flex;
    align-items: center;
}
.parentIcon {
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    margin-right: 5px;
}
/* Hébergements */
.sizeHebergements {
    flex: 2;
    height: 650px;
    margin-right: 20px;
    border-radius: 10px;
}
.sizePopulaires {
    flex: 1;
    height: 650px;
    margin-left: 20px;
    border-radius: 10px;
}
.imgHebergements1 {
    background-image: url(marcus-loke-WQJvWU_HZFo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120%;
    border-radius: 15px 15px 0 0;
}
.imgHebergements2 {
    background-image: url("./images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120%;
    border-radius: 15px 15px 0 0;
}
.imgHebergements3 {
    background-image: url("./images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120%;
    border-radius: 15px 15px 0 0;
}
.imgHebergements4 {
    background-image: url("./images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120%;
    border-radius: 15px 15px 0 0;
}
.imgHebergements5 {
    background-image: url("./images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120%;
    border-radius: 15px 15px 0 0;
}
.imgHebergements6 {
    background-image: url("./images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 120%;
    border-radius: 15px 15px 0 0;
}
.blocHebergements {
   padding-left: 20px; 
   padding-right: 20px;
}
.cubeHebergements {
    width: 30%;
    height: 200px;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
}
.flexColumnCentre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flexColumnAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
.flexColumnBetween {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.bloc1 {
    margin-bottom: 10px;
    margin-top: -30px;

}
.bloc2 {
    margin-top: 10px;

}
.cubeDetailsHebergements {
    width: 90%;
}
/* Populaires*/
.blocPopulaires {
    padding-left: 20px;
    padding-right: 20px;

}
.blocPopulaires12 {
    margin-bottom: 20px;
}
.cubePopulaires {
    background-color: white;
    height: auto;
    padding: 1% 0 1% 1%;
    border-radius: 20px;
}
.cubeDetailsPopulaires {
    width: 60%;
    padding-left: 5%;
}
.imgPopulaires1 {
    background-image: url(./emile-guillemot-Bj_rcSC5XfE-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires2 {
    background-image: url(./aw-creative-VGs8z60yT2c-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}
.imgPopulaires3 {
    background-image: url(./febrian-zakaria-sjvU0THccQA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    width: 35%;
    height: 160px;
    border-radius: 15px 0 0 15px;
}